---
import logo from "../assets/logo-small-white.svg";
import { Image } from 'astro:assets';

---

<footer>
  <div id="credit">
    <Image
      src={logo}
      alt="The Michigan Daily logo"
      id="logo"
      width="20"
      height="20"
    />
    <div id="credit-copy">
      <b>The Michigan Daily</b>
      <small><b>Made with ♡ by Darrin Zhou</b></small>
      <small>420 Maynard Street, Ann Arbor, MI 48105</small>
    </div>
  </div>
  <div id="copyright">
    <small
      >&copy; 2023 One hundred and thirty-three years of editorial freedom</small
    >
  </div>
</footer>

<style>
  footer {
    color: white;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  footer #credit {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  footer #credit-copy {
    display: flex;
    flex-direction: column;
  }

  footer #copyright {
    align-self: center;
  }
  footer #logo {
    width: 80px;
    height: auto;
  }
</style>
